<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center"><%= t('.title') %></h3>
    <hr>
    <h3><%= t('.what') %></h3>
    <p>
      <%= t('.what_answer_html') %>
    </p>
    <br>
    <h3><%= t('.why') %></h3>
    <p>
      <%= t('.why_answer_html') %>
    </p>
    <br>
    <h3><%= t('.how') %></h3>
    <p>
      <%= t('.how_answer_html') %>
    </p>
    <br>
    <%= t('.links_html') %>
  </div>
</div>
